
.table {
    width: 45%;
    border-style: dashed;
    border: 2px solid gray;
    border-collapse: collapse;
}

.th {
    font-family: cursive;
    text-align: center;
    background-color: lightgray;
    padding: 3px;
    border: 1px solid black;
    font-weight: bold;
}

.td {
    font-family: cursive;
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

